body {
    height: 100vh;
    min-width: 1080px;
  }
  
  .corpo {
    transition: .5s;
  }
  
 .corpo.expandir {
    margin-left: 260px;
    transition: .5s;
  }
  
  .rodape.expandir {
      margin-left: 260px;
      transition: .5s;
  }
  
  nav.menu-lateral {
    width: 80px;
    height: 100%;
    background-color: #050136;
    padding: 10px 0 40px 1%;
    box-shadow: 3px 0 0 #080169;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .5s;
    z-index: 1;
  }
  
  .btn-expandir {
      padding: 10px 0px 2cqh 0px;
  }
  
  .btn-expandir > i {
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    margin-left: 16px;
  }
  
  nav.menu-lateral.expandir {
    width: 300px;
    transition: .5s;
  }
  
  ul {
    height: 100%;
    list-style: none;
  }
  
  ul li.item-menu {
    transition: .2s;
  }
  
  ul li.ativo {
    background-color: #080169;
    border-radius: 15px 0px 0px 15px;
  }
  
  ul li.item-menu:hover {
    background: #0b0169;
    border-radius: 15px 0px 0px 15px;
  }
  
  ul li.item-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
  }
  
  ul li.item-menu a .txt-link {
    margin-left: 70px;
    opacity: 0;
  }
  
  nav.menu-lateral.expandir .txt-link {
    margin-left: 40px;
    transition: .5s;
    opacity: 1;
  }
  
  ul li.item-menu a .icon > i {
    font-size: 30px;
    margin-left: 10px;
  }