:root {
    --corDark: #0b0136;
    --corMedia: #030169; 
    --corClean: #fff;
    --corCleanFosc: #e1c7fc;
}


.background-ponto{
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background: var(--corDark);
}

.container-ponto {
    display: flex;
    background: var(--corMedia);
    width: 80%;
    height: 90%;
    text-align: center;
    border-radius: 20px;
    box-shadow: 10px 5px 70px rgba(0, 0, 0, 0.644);
}

h2{
    color: white;
}

.text-input{
    padding-left: 5px;
    margin-bottom: 15px;
    width: 200px;
    height: 30px;
}



textarea:focus, input:focus, select:focus {
box-shadow: 0 0 0 0;
border: 0 none;
outline: 0;
}

.submit-input{
    width: 40%;
    height: 25px;
    color: white;
    background: rgb(1, 0, 43);
    border: none;
    margin: 20px auto;
    border-radius: 10px;
}

.submit-input:hover{
    outline: 1px solid white;
    box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.644);
}


.form-cadastro-registro{
    padding-top: 20px;
}


.form-cadastro-registro > textarea{
    text-align: center;
    padding: 5px;
    margin: 15px 68px;
    width: 185px;
    border-radius: 5px;
    border: none;
    height: 40px;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.644);
}


.tela_ponto{
    width: 80%;
}

#cadastrar{
    background: rgb(14, 0, 0);
    border: none;
    color: rgb(33, 0, 221);
    width: 30vw;
    height: 30px;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    font-weight: 600;
}

#cadastrar:hover{
    color: rgb(255, 255, 255);
}

#datetime{
    height: 30px;
    width: 30vw;
    background-color: rgb(11, 0, 14);
    border: none;
    color: white;
    padding: 5px;
    border-radius: 10px;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="rgb(255, 255, 255)" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
background-position: 100% center;
background-repeat: no-repeat;
}

.registros-usuario{
    display: block;
    text-align: justify;
    margin-top: 15px;
    padding-left: 50px;
    color: white;
    overflow: scroll;
    height: 65vh;
    width: 70vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.excluir-btn{
    color: white;
    font-size: 15px;
}

#registros{
    padding-top: 20px;
    max-width: 100%;
    margin-bottom: 40px;
}



#registros li{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.test {
    position: absolute;
    color: rgba(255, 255, 255, 0.466);
    bottom: 120px;
    font-size: 12px;
}

.ativado {
    border: 3px solid rgb(37, 0, 0);
    box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.644);
}

@media screen and (max-width: 750px){
    .container-ponto{
        background: rgb(4, 0, 255);
        min-width: 600px;

    }
}

.simplesContainer {
    background: rgb(2, 1, 34);
    width: 100%;
    height: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.avaliacao {
    background: rgb(12, 2, 99);
    width: 20%;
    height: 40px;
    border-radius: 20px 0 0 20px;
    margin-left: 10px;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    align-items: center;
}

.avaliacao > i{
    font-size: 20px;
    background: rgb(2, 0, 20);
    padding: 5px;
    border-radius: 20px;
}

.colaborador {
    background: white;
    color: #100022;
    font-weight: bold;
    width: 30%;
    transform: translateX(-40%);
    padding-left: 3%;
    padding-right: 2%;
    height: 38px;
    border-radius: 20px 0 0 20px;
    display: flex;
    align-items: center;
}

.horario{
    background: rgb(4, 2, 99);
    width: 60%;
    height: 40px;
    border-radius: 20px 0 0 20px;
    padding-left: 3%;
    display: flex;
    align-items: center;
    transform: translateX(-30%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.atualizacao{
    background: rgb(89, 76, 209);
    color: #ffffff;
    font-weight: bold;
    width: 40%;
    transform: translateX(-70%);
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.excluirPonto{
    margin-right: 30px;
}

.pesquisar{
    display: flex;
    margin-left: 68px;
}

.pesquisar > input{
    padding: 8px;
    border-radius: 5px;
    border: 1px solid rgb(62, 61, 122);
    background: var(--corDark);
}

::-webkit-scrollbar-track {
    background: var(--corDark);
    border-radius: 20px;
    margin-bottom: 20px;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: var(--corMedia);
    border-radius: 10px;
    border: 3px solid var(--corDark);
}

